
body.madoko {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2em;
  text-align: justify;
  text-justify: inter-word;
}

.abstract {
/*  font-size: 16px !important;*/
  line-height: 1.1;
}

.madoko .abstract>p:first-child:before {
  content: none;
}

.madoko .title {
  line-height: 1.05;
}

div.title.para-block { font-size: 38px !important; }

div.authors.align-center { width: 100% !important; }

.madoko code, .madoko pre, .madoko .email {
  font-family: 'Anonymous Pro', monospace;
  font-size: 0.9em;
  text-rendering: optimizeLegibility;
}

.madoko .email {
  white-space: pre-wrap;
  font-size: 0.6em;
}

.madoko .fig img {
/*  height: 100%;*/
}

.madoko .fig p {
  margin-bottom: 0em;
}

.madoko table {
  margin-left: auto;
  margin-right: auto;
}

.madoko pre {
  overflow-x: scroll;
}

.madoko p {
  text-align: inherit;
}

.listing, .fig {
  margin-left: 1em;
  margin-right: 1em;
}

.figure-caption {
  text-align: left;
}

.onecol {
  display: block;
  margin: 0 auto
}
