
body.madoko {
  font-family: 'Crimson Text', serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2em;
}

.madoko code, .madoko pre {
  font-family: 'Anonymous Pro', monospace;
  font-size: 14px;
  text-rendering: optimizeLegibility;
}

.madoko .fig img {
/*  width: 100%;*/
}

.madoko table {
  margin-left: auto;
  margin-right: auto;
}

.madoko pre {
  overflow-x: scroll;
}

.madoko p {
  text-align: inherit;
}

.listing, .fig {
  margin-left: 1em;
  margin-right: 1em;
}

.figure-caption {
  text-align: left;
}

.onecol {
  display: block;
  margin: 0 auto
}
